#include "winver.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,2,0
 PRODUCTVERSION 2,0,2,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileDescription", "MaxCalc Calculator"
            VALUE "FileVersion", "2.0.2.0"
            VALUE "InternalName", "maxcalc.exe"
            VALUE "OriginalFilename", "maxcalc.exe"
            VALUE "LegalCopyright", "Copyright (C) 2005, 2010 Michael Maximov (michael.maximov@gmail.com)"
            VALUE "ProductName", "MaxCalc"
            VALUE "ProductVersion", "2.0.2.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
